@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

body#index {
        background-image: url('https://cloud.githubusercontent.com/assets/2779691/3831929/24076230-1d99-11e4-93a9-be812e759fb2.JPG');
        background-attachment: fixed;
}

body#about {
        background-image: url('https://cloud.githubusercontent.com/assets/5033761/3895339/1df19ce0-224d-11e4-92f2-7e9aecce88c8.JPG');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
}

body#menu {
        background-image: url('https://cloud.githubusercontent.com/assets/5033756/3879656/22622b8c-217b-11e4-89de-16cfa267d17e.JPG');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
}

body#events {
        background-image: url('https://cloud.githubusercontent.com/assets/5033761/3895478/3bba7444-224e-11e4-8d59-eac52fd12dc0.JPG');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
}

body#donate {
        background-image: url('https://cloud.githubusercontent.com/assets/5033756/3879709/97c3528e-217b-11e4-9916-860b28a1949d.JPG');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
}

body#contact {
        background-image: url('https://cloud.githubusercontent.com/assets/5033756/3879709/97c3528e-217b-11e4-9916-860b28a1949d.JPG');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
}

nav {    
        width: 150px;
        float: left;
        display: inline;
        margin: 0;
        padding:300;
        margin-right: 10px;
        opacity:0.9;
        margin-top: 100px;
        margin-left: 50px;
}

ul.nav > li > a, ul.nav > li > a:hover {
        color: White;
        font-size: x-large;
        font-family: Oswald ;
        font-style: Bold;
        background-color: transparent;
}

footer {
        font-family: Oswald ;
        font-style: Bold;
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 105px;
        background-color: Black;
        opacity:0.9;
        padding-top: 5px;
        margin-top: 100px;
        
}

footer > p, footer > a {
        color: White;
        font-size: 30px;
        text-align:center;
}
#logo {
        margin-bottom: 100px;
}
.thumbnail {
        background-color: Black;
        opacity: 0.9;
}

body {
overflow-x: hidden;
overflow-y: scroll;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;
    list-style: none; 
    width: 100%; 
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.dropdown button {
    background: #FF6223;
    color: #FFFFFF;
    border: none;
    margin: 0;
    padding: 0.4em 0.8em;
    font-size: 1em;
}


.dropdown a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #CCCCCC;
    color: #333333;
}

.dropdown a:hover {
    background: #BBBBBB;
}

button {
        background-color: Black;
        color: Black;
}
